@media screen and (min-width: 1024px) {
    main{
        margin-left: 200px;
        text-align: center;
    }

    .title{
        margin-left: 200px;
        text-align: center;
    }

    .canvas__container{
        margin: 0 auto;
    }

    .results{
        margin-top: 100px;
    }
}